.error
{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    position: relative;
   /* top: -20px;**/

    color: #FF0000;
}
.error:first-of-type
{
    top: -20px;
}